@{
    ViewData["Title"] = "Home Page";
}

@model text_adventure.StoryEngine.Act;

<div class="text-center">
    <h1 class="display-4">Nightborn</h1>
    <p>Born with no shadow, you are not bound by the laws of light.</p>
</div>

<div>
    @foreach (var scene in Model.Scenes)
    {
        <div class="scene">
            <h2>@scene.ID</h2>
            <p>@scene.Text</p>
            <ul>
                <li>Can Continue: @scene.CanContinue</li>
                <li>Can Continue: @scene.ContinueID</li>
                <li>Can Go Back: @scene.CanGoBack</li>
                <li>Can Continue: @scene.BackID</li>
                <li>Can Continue: @scene.ActID</li>
            </ul>
        </div>
    }
</div>
