@{
    ViewData["Title"] = "Home Page";
}

@model text_adventure.StoryEngine.Story;

@* 
<div class="ta-container">
    <div class="text-center">
        <h1 class="display-4 text-fantasy ">Nightborn</h1>
        <p>Born with no shadow, you are not bound by the laws of light.</p>
        <button class="btn btn-outline-dark text-fantasy" asp-action="Scene" asp-route-sceneId="Act_1_1">Begin</button>
    </div>
</div> *@

<a asp-action="Begin" class="btn btn-outline-white text-fantasy">Begin</a>


@foreach (var act in Model.Acts)
{
    <h1>Act @act.ID</h1>
    <hr>
    @foreach(var scene in act.Scenes)
    {
        <div class="scene">
            <h2>@scene.ID</h2>
            <p>@scene.Text</p>
            <ul>
                <li>Can Continue: @scene.CanContinue</li>
                <li>Can Continue: @scene.ContinueID</li>
                <li>Can Go Back: @scene.CanGoBack</li>
                <li>Can Continue: @scene.BackID</li>
                <li>Can Continue: @scene.ActID</li>
            </ul>
        </div>
    }
}


